@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('../variaveis/variables.css');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-neutral-4);
  color: white;
}

.container-login {
  background-color: var(--color-neutral-5);
  padding: 25px;
  border-radius: 10px;
  width: 500px;
  height: auto;
}

.login-text {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
  background: var(--color-neutral-6);
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid transparent;
  transition: 0.3s;
}

.input-group i {
  color: var(--color-neutral-3);
  margin-right: 10px;
}

.input-group input {
  border: none;
  outline: none;
  background: transparent;
  color: var(--color-neutral-0);
  gap: 10px;
  flex: 1;
}

.input-group:focus-within {
  border-bottom: 2px solid var(--color-primary-1);
  box-shadow: 0 0 10px rgba(108, 99, 255, 0.3);
}

button {
  width: 100%;
  padding: 10px;
  background: var(--color-primary-1);
  color: var(--color-neutral-0);
  border: none;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s;
  transition: smooth;
}

button:hover {
  background: var(--color-primary-2);
}

.divider {
  text-align: center;
  margin: 15px 0;
  color: var(--color-neutral-3);
  font-size: 14px;
}

.social-login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.social-btn.google {
  background: white;
  color: #333;
}

.social-btn.google:hover {
  background: #eee;
}

.social-btn.github {
  background: #24292e;
  color: white;
}

.social-btn.github:hover {
  background: #333;
}

.social-btn i {
  font-size: 16px;
}

.register {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.register a {
  color: var(--color-primary-1);
  text-decoration: none;
}

.register a:hover {
  text-decoration: underline;
}